<div>
  Total People = {{people?.length}}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <a (click)="getPerson(person.Id)" style="cursor: pointer;">
          <td>{{person.Id}}</td>
          <td>{{person.Name}}</td>
        </a>
      </tr>
      <tr>
        <a (click)="getPerson(-1)" style="cursor: pointer">
          <td>-1</td>
          <td>Invalid Person</td>
        </a>
      </tr>
    </tbody>
  </table>


  <div *ngIf="selectedPerson">
    <h3>Selected Person</h3>
  Id : {{selectedPerson.Id}}
  <br/>
  Name : <input type="text" [(ngModel)]="selectedPerson.Name"/>
  </div>

  <input type="button" (click)="testCounter()" value="Test Counter"/>
  <input type="button" (click)="resetCounter()" value="Reset Counter"/>
  {{counter}}

  <br/>
  <br/>
  <br/>
  <input type="text" [(ngModel)]="sleepVal"/>
  <input type="button" (click)="getAsync(sleepVal)" value="Get Async"/>
</div>